
.missions-info {
  justify-content: space-between;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1.2fr;
  list-style: none;
  margin: 0 30px;
  text-align: center;
}

.missions-info > * {
  padding: 5px;
  border: solid 2px #d3d3d3;
}

.missions-details {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1.2fr;
  border: solid 1.5px #d3d3d3;
  list-style: none;
  margin: 0 30px;
  text-align: center;
  background-color: rgb(242, 242, 242);
}

.missions-details:nth-child(odd) {
  background-color: white;
}

.missions-details > * {
  padding: 10px;
  border-right: solid 2px #d3d3d3;
}

.missions-details h3 {
  font-size: 16px;
}

.missions-details .notActive {
  background-color: grey;
  color: white;
  border-radius: 3px;
  margin: auto;
  padding: 3px;
  text-align: center;
  font-size: 12px;
}

.missions-details .active {
  background-color: rgb(4, 143, 39);
  color: white;
  margin: auto;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  font-size: 14px;
}

.join-btn {
  background-color: transparent;
  border-radius: 3px;
  border-color: grey;
  margin: auto;
}

.leave-btn {
  margin: auto;
  color: red;
  background-color: white;
  border-color: red;
  border-radius: 3px;
}